# .gcloudignore
# Overrides .gitignore for gcloud deployment
# We need to UPLOAD data/ even if it is ignored in git

.git/
.gitignore
.env
.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Exclude Frontend (deployed separately)
ui/
node_modules/

# Exclude Tests
tests/
output/
